.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(40, 40, 84, 1) 35%,
    rgba(18, 35, 38, 1) 100%
  );
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
